// Variables
$website-width: 1280px;
$main-color: #D1CDDC;
$light-color: #FF3366;
$dark-color: #45364B;
$medium-color: #62466B;
$medium-color-2: #F5FFC6;
$medium-color-3: #E6E49F;
$background-color: #f2f2f2;
$container-progress: 1920px;








