// Variables
/* $website-width: 1280px; */
$main-color: #d1cddc;
$light-color: #ff3366;
$dark-color: #45364b;
$medium-color: #62466b;
$medium-color-2: #f5ffc6;
$medium-color-3: #e6e49f;
$background-color: #f2f2f2;
$container-progress: 1920px;
