.container {
  max-width: $website-width;
  padding: 0 1.5rem;
  overflow: hidden;
}

.container-progress {
  max-width: $container-progress;
  padding: 0 1.5rem;
  overflow: hidden;
}

.container-about {
  max-width: $website-width;
  padding: 0 1.5rem;
  overflow: hidden;
  margin: auto;
}

// Backgrounds
/* .bg {
  &-main {
    background: $main-color;
    color:$main-color;
  }
  &-dark {
    background: $dark-color;
    color:$dark-color;
  }
  &-light {
    background: $medium-color;
    color:$medium-color;
  }
  &-medium {
    background: $main-color;
    color: $main-color;
  }
} */

/* .bottom-line {
  height: 2px;
  width: 100rem;
  background: $dark-color;
  display: block;
  margin: 0 auto 1rem auto;
} */