@import "config";
@import "utilities";
@import "media";

// General Styles

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background-color: $background-color;
}

.container {
  min-height: 100%;
}

#header-home {
  padding-left: 1.5rem;
}

.main {
  overflow: auto;
  padding-bottom: 100px;
  padding-left: 1.5rem;
  min-height: calc(100vh - 362px - 100px);
}
h1 {
  font-size: 10rem;
  color: $medium-color;
  font-family: "Sora", Helvetica, sans-serif;
  padding-bottom: 5rem;
  padding-top: 5rem;
}

h2 {
  font-size: 2.5rem;
  color: $light-color;
  font-family: "Sora", sans-serif;
}

h3 {
  font-size: 2rem;
  color: $light-color;
  font-family: "Sora", sans-serif;
}

h4 {
  font-size: 1.2rem;
  color: $light-color;
  font-family: "Sora", sans-serif;
}

ul {
  list-style-type: none;
  font-family: "Sora", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  transition: ease-in-out 0.5s;
  color: $medium-color;
  padding-top: 5rem;
  padding-left: 5rem;

  li {
    padding: 0.5rem;
  }

  a {
    text-decoration: none;

    &:hover {
      color: $light-color;
    }
  }
}

// About
#about {
  .about-info {
    display: grid;
    grid-template-areas: "bioimage bio bio";
    grid-gap: 1.2rem;
    padding-bottom: 70px;
    padding-right: 1.5rem;
  }

  // Grid Areas
  .bio-image {
    grid-area: bioimage;
    max-width: 100%;
    max-height: 100%;
    width: 300px;
  }

  .about-info h2 {
    color: $light-color;
  }

  .bio {
    grid-area: bio;
    text-align: center;
    font-family: "Sora", sans-serif;
    background-color: $main-color;
    border-left: 3px solid $light-color;
    color: $medium-color;
  }
}

// About B
#about-b {
  .section-title {
    padding-bottom: 25px;
  }

  .progress {
    overflow: hidden;
    height: 20px;
    background-color: $main-color;
    border-radius: 5px;
    margin-bottom: 0.6rem;

    div {
      height: 100%;
      color: black;
      text-align: center;
      background-color: $dark-color;
      width: 100vw;
    }
  }

  .about-classes {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

// About C
#about-c {
  .about-logos {
    font-family: "Sora", sans-serif;
    color: $medium-color;
    padding-left: 1.5rem;
    padding-top: 25px;
  }

  .about-logos h3 {
    padding-bottom: 25px;
  }
  .img {
    max-height: 100%;
    max-width: 100%;
    width: 150px;
  }
}

// Botão Voltar
.about-back a {
  padding-left: 1.5rem;
  padding-top: 1.5rem;
  color: $light-color;
  font-size: 1.8rem;
  font-family: "Sora", sans-serif;
  text-decoration: none;

  a:hover {
    text-decoration: none;
    font-family: "Sora", sans-serif;
    color: $medium-color;
  }
}

// Footer
#main-footer {
  .footer-content {
    margin-top: -100px;
    font-family: "Sora", sans-serif;
    display: flex;
    height: 100px;
    align-items: center;
    position: relative;
    padding-left: 1.5rem;
  }

  .social .fab {
    margin-left: 1rem;
    border: 2px $light-color solid;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    padding: 0.5rem;
    position: relative;
    &:hover {
      background-color: $light-color;
    }
  }
}
